*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: rgb(226, 232, 240);
  font-family: "Roboto", sans-serif;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 1fr;
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
}
.logoText {
  font-size: 1.7rem;
  font-weight: 700;
  margin-left: 0.7rem;
}
.imgText {
  font-size: 1.5rem;
  font-weight: 500;
}
.icons {
  width: 2rem;
}

.sideNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(25, 146, 212);
  color: white;
}
.sideTop {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 1rem;
  margin-left: 1.5rem;
}
.sideMiddle {
  margin: 1rem;
  margin-left: 1.5rem;
}
.sideBottom {
  margin-bottom: 35vh;
  margin: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 30vh;
}

.sideTabs {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.sideContent {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
  letter-spacing: 0.05rem;
}
.dasboard {
  display: grid;
  grid-template-rows: 170px 1fr;
}

.topBar {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 4fr 3fr 3fr 3fr 4fr;
}

.searchBar {
  grid-area: 1 / 1 / 2 /5;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
}
.topBarIcons {
  width: 1.5rem;
  margin-left: 4rem;
  cursor: pointer;
}
.search {
  width: 100%;
  height: 2rem;
  margin-right: 2rem;
  border-radius: 1rem;
  border: 0px;
  background-color: rgb(226, 232, 240);
  outline: 0px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.search:focus {
  background-color: rgba(226, 232, 240, 0.8);
}
.profile {
  grid-area: 1 / 5 / 2 / 6;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  justify-content: center;
}
.profilePicture {
  width: 2.8rem;
  margin-left: 1.5rem;
  margin-right: 0.8rem;
  cursor: pointer;
}
.userName {
  margin-right: 4rem;
  letter-spacing: 0.03rem;
}
.greet {
  grid-area: 2 / 1 / 3 / 4;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 1rem;
}
.greetText {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 1rem;
}
.greetProfilePicture {
  width: 4rem;
  margin-left: 4.5rem;
  margin-bottom: 1rem;
}
.greeting {
  text-align: start;
  font-size: 0.9rem;
  font-weight: bold;
}
.userNameTag {
  text-align: start;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.03rem;
}
.editButtons {
  grid-area: 2/ 4 / 3 / 6;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 2rem;
}

.buttons {
  background-color: rgb(25, 146, 212);
  width: 7rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: 0px;
  border-radius: 2rem;
  outline: 0px;
  padding-block: 0.8rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-left: 1rem;
  gap: 1.5rem;
}

.cardsMain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  height: 100%;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.projectsContainer {
  display: flex;
  flex-direction: column;
}
.projectsTittle {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.cardTittle {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-self: start;
}

.cardIcons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.cardDescription {
  color: rgb(99, 99, 99);
  font-size: 0.9rem;
  font-weight: 500;
}

.cardIcon {
  width: 1.5rem;
  margin-bottom: 1rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.card {
  background-color: rgb(255, 255, 255);
  border-left: 0.5rem solid rgb(240, 180, 41);
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 2rem;
}

.cardsSide {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.announcements {
  display: flex;
  flex-direction: column;
}

.announcementsHeader {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.announcementsCards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.1fr 1fr 0.1fr 1fr;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 0.7rem;
  margin-right: 2rem;
  padding: 2rem;
}

.announcementTittle {
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  align-self: start;
}

.announcementDescription {
  color: rgb(99, 99, 99);
  font-size: 0.8rem;
  font-weight: 500;
}

.line {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 1px;
  margin-block: 1rem;
}

.trending {
  display: flex;
  flex-direction: column;
}

.trendingHeader {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}
